/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #6495ED;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.gift-gallery {
  padding: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  justify-items: center;
}

.gift-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.contact-form, .todo {
  padding: 20px;
  background-color: white;
  margin: 20px 0;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 5px 0;
}

input, textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #D3D3D3;
  color: #f438c5;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

/* Responsive design */
@media (max-width: 768px) {
  .gallery {
      grid-template-columns: repeat(2, 1fr);
  }

  .gift-item img {
      width: 150px;
      height: 150px;
  }
}

@media (max-width: 480px) {
  .gallery {
      grid-template-columns: 1fr;
  }

  .gift-item img {
      width: 100%;
      height: auto;
  }
}